body {
    text-align: center;
    margin: 20px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a:visited {
    color: lightgreen;
}

a:link {
    color: lightgreen;
}

a:hover {
    color: red;
}